.custom-input {
  span[class^="ant-input-affix-wrapper"] {
    border: unset !important;
    border-radius: 8px;
    padding: 20px 11px;
    background-color: #fff1f3;
    input {
      background-color: #fff1f3;
    }
  }
}
