.register-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 89px 20px;
  max-width: 50rem;
  width: 100%;
  margin: auto;
  .slogan {
    padding: 0px 70px 60px 70px;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.01em;
  }

  .or {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #585d69;
    margin-bottom: 20px;
  }
  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #404653;
    margin: 20px 0px;
  }
  .question {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #383838;
    margin: 30px 0px;
  }
  .btn-email {
    .title {
      color: #0b121f;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
    }
  }
  .btn-google,
  .btn-facebook,
  .btn-email {
    padding: 15px 0px;
    border: unset !important;
    background-color: #edeef0;
    margin-bottom: 20px;
    .btn-box {
      text-align: left;
      margin-left: 30px;
      .image {
        margin-right: 30px;
      }
      .title {
        color: #0b121f;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
  .btn-login {
    background: #ffffff;
    border: unset !important;
    box-shadow: unset !important;
    a {
      color: #265ae8;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.01em;
    }
  }
}
.modal-header {
  text-align: center;
  .modal-title {
    font-weight: 500;
    display: block;
    font-size: 22px;
    line-height: 28px;
    color: #0b121f;
    margin-bottom: 8px;
  }
  .modal-description {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #888c94;
    margin-bottom: 20px;
  }
}
.modal-body {
  .modal-account {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #cfd1d4;
    img {
      margin-right: 10px;
    }
    .info {
      .info-title {
        display: block;
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        letter-spacing: 0.015em;
        color: #404653;
      }
      .info-email {
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        display: flex;
        align-items: center;
        letter-spacing: 0.005em;
        color: #5f6368;
      }
    }
  }
}
.modal-bot {
  font-weight: 400;
  padding: 20px 0px;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #9fa3a9;
}
div[class^="ant-modal"] {
  //   max-width: calc(100vw - 40px) !important;
}
div[class^="ant-modal-content"] {
  border-radius: 10px !important;
}
div[class^="ant-modal-body"] {
  padding: 55px 24px !important;
}
