.check-mail-container {
  display: flex;
  flex-direction: column;
  padding: 89px 20px;
  text-align: center;
  .title {
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }
  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #9fa3a9;
  }
  .check-mail-image {
    margin: 60px 0px;
  }

  .btn {
    padding: 30px;
    border-radius: 6px;

    a {
      display: block;
      line-height: 0px;
      font-weight: 500;
      font-size: 16px;
    }
  }
  .btn-register {
    background: #265ae8;
    a {
      color: #ffffff;
    }
  }
  .btn-check-mail {
    border: unset !important;
    box-shadow: unset !important;
    a {
      color: #265ae8 !important;
    }
  }
  .description_bot {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #9fa3a9;
    margin-top: 40px;
  }
}
