.top-teacher {
  .title {
    display: block;
    margin: 20px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.012em;
    color: #0b121f;
  }
}
