.card-info {
  position: relative;
  .image {
    img {
      width: 100%;
    }
  }
  .title {
    position: absolute;
    width: 100%;
    bottom: 25px;
    text-align: center;
    span {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;

      letter-spacing: 0.012em;
      color: #ffffff;
    }
  }
  .name {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #282f3e;
  }
  .position {
    display: block;
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #70747e;
  }
}
