.profile-setting {
  padding: 30px 20px;
  .icon-title {
    display: flex;
    text-align: center;
    align-items: center;
    a {
      color: #0b121f;
    }
    .title {
      width: 100%;
      span {
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;

        letter-spacing: 0.01em;
        color: #0b121f;
      }
    }
  }
}
.card-box {
  padding: 20px 0px;
  border-bottom: 1px solid #cfd1d4;
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #70747e;
  }
  .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content {
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.01em;
      color: #404653;
      margin-top: 15px;
    }
    .forgot-password-container {
      display: flex;
      flex-direction: column;
      padding: 89px 20px;
      .icon-back {
        display: flex;
        justify-content: flex-start;
        margin-left: 8px;
        margin-bottom: 24px;
        a {
          color: #292d32 !important;
        }
      }
      .title {
        margin-left: 8px;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.012em;
        margin-bottom: 34px;
        color: #101828;
      }
      input[class^="ant-input"] {
        border: unset !important;
        border-bottom: 1px solid #cfd1d4 !important;
        &:hover {
          border: unset !important;
          box-shadow: unset !important;
          border-bottom: 1px solid #cfd1d4 !important;
        }
        &:focus {
          border: unset !important;
          box-shadow: unset !important;
          border-bottom: 1px solid #cfd1d4 !important;
        }
      }
      input[class^="ant-input-focused"] {
        border-bottom: 1px solid #cfd1d4 !important;
      }
      .btn {
        padding: 30px;
        border-radius: 6px;
        margin-top: 20px;
        a {
          display: block;
          line-height: 0px;
          font-weight: 500;
          font-size: 16px;
        }
      }
      .btn-continue {
        background: #265ae8;
        margin-top: 60px;
        a {
          color: #ffffff;
        }
      }
    }

    a {
      margin-bottom: 10px;
      display: block;
      padding: 8px 22px;
      background: #edeef0;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #282f3e;
      span {
      }
    }
  }
}
.card-notice {
  padding: 20px 0px;
  border-bottom: 1px solid #cfd1d4;
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #70747e;
  }
  .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content {
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.01em;
      color: #404653;
      margin-top: 15px;
    }
  }
}
.card-footer {
  margin-top: 20px;
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #70747e;
  }
  .footer-content {
    .card-item {
      padding: 7px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.01em;
        color: #404653;
      }
    }
  }
}
