.payment-step-two {
  padding: 50px 20px;
  .title {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.012em;
    color: #0b121f;
    margin-bottom: 50px;
  }
  .icon-back {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
    a {
      color: #292d32 !important;
    }
  }
  input {
    padding: 16px 28px;
    border-radius: 8px;
  }
  .label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #282f3e;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .ant-row {
    margin: 0px -10px;
    .ant-col {
      padding: 0px 10px;
    }
  }
  .btn-continue {
    padding: 0px !important;
    border: unset !important;
    width: 100%;
    a {
      margin-top: 40px;
      display: inline-block;
      padding: 20px 0px;
      background: #265ae8;
      border-radius: 4px;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #ffffff;
    }
  }
}
