.page-search-filter {
  padding: 30px 20px;
  .result {
    .title {
      display: block;
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      letter-spacing: 0.015em;
      color: #585d69;
      margin: 30px 0px;
    }

    .item {
      margin-bottom: 30px;
      .ant-row {
        margin: 0px -10px;
        .ant-col {
          padding: 10px 10px;
        }
      }
    }
  }
}
