.card-info-teacher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0px;
  .avatar {
    display: flex;
    align-items: center;
    .card-box {
      .name {
        display: block;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.01em;
        color: #282f3e;
      }
      .description {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.012em;
        color: #888c94;
      }
    }

    .image {
      margin-right: 11px;
      img {
        border-radius: 50%;
      }
    }
  }
  .button-follow {
    padding: 0px !important;
    border: unset !important;
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #000000;
      background-color: #edeef0;
      display: block;
      padding: 8px 22px;
    }
  }
}
